<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
   id="Simulator"
   name="%pluginName"
   version="22.0.0.qualifier"
   provider-name="%providerName">
   <runtime>
      <library name="src/test/">
         <export
               name="*">
         </export>
      </library>
      <library name="."/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime" version="3.10.0"/>
      <import plugin="org.eclipse.ocl.ecore" version="3.3.100"/>
      <import plugin="org.eclipse.uml2.uml.resources" version="5.0.0"/>
      <import plugin="org.eclipse.ocl.examples.xtext.oclstdlib" version="3.4.2"/>
      <import plugin="org.eclipse.ocl.examples.xtext.oclinecore" version="3.4.2"/>
      <import plugin="org.eclipse.ocl.examples.xtext.completeocl" version="3.4.2"/>
   </requires>



</plugin>
